:root {
    --primary-color: #05a;
    --footer-color: #00366b;
    --focus-color: #cfcfcf;

    --alert-color: #dc3545;
    --alertband-color: #f9e3e5;
}


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


header {
    background-color: var(--primary-color);
}

footer {
    background-color: var(--footer-color);
}

p.footer-text {
    color: white;
    font-size: large;
    margin-bottom: 0%;
    padding-left: 0%;
}


ul.navbar-nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

li.nav-item {
    margin-left: 7.5%;
}

a.navbar-brand {
    color: white;
    font-size: x-large;
    padding-left: 10%;
}

a.nav-link {
    color: white;
    text-decoration: none;
    font-size: large;
    white-space: nowrap;
    line-height: 2.5vw;
}

a.nav-link:hover,
a.nav-link:active,
a.nav-link:focus {
    color: var(--focus-color);
}

.is-invalid {
    border-color: var(--alert-color);
    background-color: var(--alertband-color);
}

.invalid-feedback {
    display: block;
    color: var(--alert-color);
}
